.up-down{
    font-family: "Jomolhari", serif;
    color: #ffffff;
    font-size:62px;
}
.wrapper{
    font-family: "Jomolhari", serif;
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.form-title{
    font-family: Jomolhari;
    font-size: 26px;
    font-weight: 400;
    line-height: 41.64px;
     
    

}
.auth-form{  
    width: 484px;
    height: 475px;
    border-radius: 76px;
    opacity: 0px;
    background-color:#F5C147;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: none; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 18px;   
}
 
.login__logo{
    width: 188px;
    height: 44px;
    border-radius: 22px;
    opacity: 0px;    
}
input{
    width: 378px;
    height: 60px;
    border-radius: 17px;
    border: 3px solid#000;
    opacity: 0px;
    padding-left: 20px;
}
::placeholder{
    font-size: 20px;
    color:#787878
}
input:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-btn{
    width: 203px;
    height: 62px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 23px;
    opacity: 0px;
    background-color: #000;
    color: #ffffff;    
}
.login-btn:active{
    transform: scale(0.9);
} 
.succes{
    background: rgb(13, 200, 13) !important;
}

.error{
    background:red !important;
}